# Ignore the lib folder
myenv
w1/ex3/venv/Lib/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
myenv/
.venv/

# Ignore data and log files
*.log
*.csv
*.h5
*.pt
