# Ignore the lib folder
myenv/lib/
myenv/lib64/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
myenv/
.venv/

# Ignore data and log files
*.log
*.csv
*.h5
*.pt
